body{
  margin: 0;
  padding:0;
}


.top-bar{
  background: rgb(0, 3, 3);
  width: 100%;
  height: 60px;
}

.top-bar-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 25px;
  color: white;
}

.fa-shopping-cart{
  color: rgb(248, 247, 240);
  font-size: 25px;
  cursor: pointer;
  margin-right: 25px;
}

.footer{
  background: cadetblue;
  width: 100%;
  height: 60px;
}