* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
  }
  
  header {
    background-color: rgb(10, 10, 10);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 50px;
    height: 40px;
    z-index: 1;
  }
  
  img {
    width: 100px;
    height: 200px;
  }
  
  main {
    width: calc(100% - 150px);
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 20px;
    padding: 20px;
    justify-content: center;
  }
  
  .cart_title {
    font-size: 30px;
    text-align: center;
    margin-left: 70px;
  }
  
  .product {
    width: 250px;
    height: 350px;
    border: 3px solid rgb(13 14 13);
    padding: 10px;
    text-align: center;
    margin: 5px;
    border-radius: 8px;
    background-color: rgb(177, 180, 180);
  }
  
  button {
    background-color: rgb(247, 129, 129);
  }
  
  .flex-cotainer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-between;
  }
  
  .cart {
    text-align: right;
    margin: 0;
  }
  
  .cart_total-price {
    font-size: 20px;
  }